extends ../layouts/layout

block head
  title #{application} &middot; Home

block styles

block content

  .mini-tron
    .container
      h1 Welcome to #{application}!

  .container
    .row
      .col-sm-12

        h3 Why is it so cold and empty?
        p
          | I'm using this as my playground as I play with Node, Jade, and Polymer. One day this might be an impressive site!

block scripts
